[submodule "External/wil"]
	path = External/wil
	url = https://github.com/Microsoft/wil/

[submodule "External/phnt"]
	path = External/phnt
	url = https://github.com/processhacker/phnt/
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui
