name: "Discord CI Notification"

on:
  # execute the workflow only if build was successful
  workflow_run:
    workflows:
      - "Build Broker and Driver"
    types:
      - completed

env:
  DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}

jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: CI Build Success Notification
        uses: sarisia/actions-status-discord@v1
        with:
          nodetail: true
          title: "[${{ github.repository }}] ${{ github.actor }} pushed to `${{ github.ref }}`"
          description: |
            **Commits**:
              ● ${{ join(github.event.commits.*.message, '
              ● ') }}
            ---
            **Link**: ${{ github.event.compare }}
          color: 0x0000ff
          username: ${{ github.actor }} on CFB
          avatar_url: https://i.imgur.com/O4RKNqj.png

  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - name: CI Build Failure Notification
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        uses: sarisia/actions-status-discord@v1
        with:
          nodetail: true
          title: "[${{ github.repository }}] ${{ github.actor }} pushed to `${{ github.ref }}`"
          description: |
            **Commits**:
              ● ${{ join(github.event.commits.*.message, '
              ● ') }}
            ---
            **Link**: ${{ github.event.compare }}
          color: 0xff0000
          username: ${{ github.actor }} on CFB
          avatar_url: https://i.imgur.com/O4RKNqj.png
